[submodule "agent/agent/BamBird_2017"]
	path = agent/agent/BamBird_2017
	url = git@sme.uni-bamberg.de:diedrich/BamBird_2017.git
[submodule "agent/BamBirds"]
	path = agent/BamBirds
	url = git@sme.uni-bamberg.de:diedrich/BamBird_2017.git
